*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #2E3A46;
    height: 70px;
    display: flex;
    align-items: center;
}
.logo {
    width: 65px;
    padding-left: 20px;
}

main {
    background-color: #1E2D3B;
}
.col {
    color: white;
}